<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <form name = "input" method="get">
            Input: <input type = "text" name = "search">
            <input type = "submit">
	</form>
        <ul>
	     {% for product in products %}
	          <li>{{product.title}}</li>
		  <li>{{product.price}}</li>
		  <li>{{product.description}}</li>
		  <li>{{product.merchant}}</li>
		  <li>{{product.url}}</li>
		  <li>{{product.shipping_cost}}</li>
	          <li>{{product.currency_code}}</li>
		  <li>{{product.image_url}}</li>
	     {% endfor %}
        </ul>
	<img src= "{{product.image_url}}" />
    </body>
</html>
